# Add any directories, files, or patterns you don't want to be tracked by version control
Filosofi2015_carreaux_200m_shp
GEOFLA_2-1_COMMUNE_SHP_LAMB93_FXX_2015-12-01
GEOFLA_2-1_COMMUNE_SHP_RGR92UTM40S_D974_2015-12-01
GEOFLA_2-1_COMMUNE_SHP_UTM20W84MART_D972_2015-12-01
base-cc-evol-struct-pop-2013.xls
.Rproj.user
