@font-face{
	font-family: 'Symbol';
	src: url('../polices/symbol-signs.otf');
}



#container{
  width:100%;
  height:100%;
  position: absolute;
  margin : 0 ;
}


#alerte2{
	width : 50% ;
	height : auto ;
	padding : 2% ;
	position : absolute ;
	background-color : rgba(255, 255, 255, 0.98) ;
	margin-left : 25% ;
	margin-top : 5% ;
	border-top : 5px solid grey ;
	z-index : 110 ;
	box-shadow: 0px 10px 50px grey;
	font-size : 1.2vw ;
	display : none ;
}






#menu{
	width : 18% ;
	height : 87.5% ;
	float : left ;
	margin-top : .7% ;
	margin-left : 1% ;
	background-color : white ;
	overflow : overlay ;
}

.more{

	float : right ;

}

/* menu accordéon */
.panel-group{
	border-bottom : 1px solid #E5E5E5 ;
	min-height : 4% ;
	height : auto ;
	color : #262626 ;
}


.niv1, .niv2, .niv3{
	border-bottom : 1px solid #E5E5E5 ;
	min-height : 4% ;
	height : auto ;
	color : #262626 ;
}

.niv1, .niv2{
	width : 95% ;
	padding-left : 5% ;
	cursor : pointer ;
}

.niv1{
	float : left ;
	background-color : #514d47 ;
	font-family : JBold ;
	font-size : .9em ;
	line-height : .9em ;
	border-bottom : 1px solid #808080 ;
	color : white ;

}

.niv2{
	clear : both ;
	float : left ;
	font-family : JBold ;
	font-size : .9em ;
	line-height : .9em ;
	background-color : #f2f2f2 ;
}

.niv3{
	width : 90% ;
	padding-left : 5% ;
	clear : both ;
	float : left ;
	font-family : JLT ;
	font-size : .8em ;
	line-height : .8em ;
	border-left : 16px solid black ;
}

.niv4{
	clear : both ;
	float : left ;
	height : auto ;
	width : 95% ;
	padding-left : 5% ;
	font-size : .7em ;
	border-bottom : 1px solid #E5E5E5 ;
}

.niv1:hover{
	background-color : #595959 ;
}

.niv2:hover{
	background-color : #E5E5E5 ;
}

.help{
	font-family : "Symbol" ;
	font-size : 1em ;
	color : grey ;
	cursor : pointer ;
}

.helpAcc{
	font-family : "Symbol" ;
	font-size : 1.3em ;
	color : grey ;
	cursor : pointer ;
}

.help:hover, .helpAcc:hover{
	color : black ;
}

.helpAcc{
	float : right ;
	margin-right : 3% ;
}

button{
	background-color : #DDDCDD;
	padding : 0px ;
}

button:hover{
	background-color : grey !important;
	color : white !important ;
}

button:focus {
	outline:0;
}

.part{
	height : 2.1em ;
	width : 2.1em ;
	border-radius : 2em;
	border : none ;
	cursor : pointer ;
	margin-right : 7em ;
	font-size : .75em ;
	float : right ;
	text-align : center ;
	position : relative ;
	margin-top : -3em ;
}



.nb{
	height : 2.1em ;
	width : 2.1em ;
	border-radius : 2em;
	border : none ;
	cursor : pointer ;
	margin-right : 4em ;
	font-size : .75em ;
	float : right ;
	text-align : center ;
	position : relative ;
	margin-top : -3em ;
}

.flow{
	height : 2.1em ;
	width : 2.1em ;
	border-radius : 2em;
	border : none ;
	cursor : pointer ;
	margin-right : 1em ;
	font-size : .75em ;
	float : right ;
	text-align : center ;
	position : relative ;
	margin-top : -3em ;
}


.part2{
	height : 2em ;
	width : 2em ;
	border-radius : 2em;
	border : none ;
	cursor : pointer ;
	font-size : .7em ;
	text-align : center ;
	position : relative ;
	margin-top : -3em ;
}
.nb2{
	height : 2em ;
	width : 2em ;
	border-radius : 2em;
	border : none ;
	cursor : pointer ;
	font-size : .7em ;
	text-align : center ;
	position : relative ;
	margin-top : -3em ;
}
.flow2{
	height : 2em ;
	width : 2em ;
	border-radius : 2em;
	border : none ;
	cursor : pointer ;
	font-size : .7em ;
	text-align : center ;
	position : relative ;
	margin-top : -3em ;
}


path.arc {
  pointer-events: none;
  fill: none;
  stroke: #000;
  display: none;
}

path.cell {
  fill: rgba(255, 255, 255, 0) ;
  pointer-events: all;
}

#cells.voronoi path.cell {
  stroke: brown;
}

#cells g:hover path.arc {
  display: inherit;
}


#timeline{
	width : 65.6%;
	height : 5% ;
	margin-top : .7% ;
	margin-left : 1% ;
	float : left ;
	padding-top : 1em ;
}

#play{
	width: 4% ;
	max-width: 40px;
	height: 5% ;
	border-radius: 5px;
	cursor: pointer;
	margin-left : 0 ;
	float : left ;
	margin-left : 1% ;
	margin-top : .7% ;
}

#playB{
	width : 100% ;
}

#slider{
	width : 98% ;
	margin-left : 1% ;
}

#timeAxis{
	position : relative ;
	width : 100% ;
	height : 100% ;
	margin-left : 0 ;
	font-size : 0.6em ;
}

#timeAxis path {
  fill: none;
}

#timeAxis line {
  stroke: black;
}

#hour{
	float : right ;
	width : 6% ;
	height : auto ;
	margin-right : .7% ;
	margin-top : .7% ;
	padding-top : 0 ;
	text-align : center ;
	font-size : 2em ;
	line-height : 1.7em ;
	font-family : JBold ;
	color : #514d47 ;
	border-top : 2px solid #c0bdb8 ;
	background-color : white ;
}

#mapTitleCont{
	height : 5% ;
	width : 49.4% ;
	margin-top : .7% ;
	margin-left : 1% ;
	float : left ;
	text-align : center ;
	background-color : #f2f2f2 ;
	border-bottom : 2px solid #c0bdb8 ;
	white-space : nowrap ;
}

#map-container{
	width : 49.4%;
	height : 74.3%;
	position : relative ;
	margin-top : 0 ;
	margin-left : 1% ;
	float : left ;
	background-color : white ;
	overflow : hidden ;
}

#zoom{
	position : absolute ;
	width : 20px ;
	height : 40px ;
	margin-left : 1.5% ;
	margin-top : 1.5% ;
	z-index : 105 ;
	border : 2px solid rgba(81, 77, 71, .2) ;
	border-bottom : 3px solid rgba(81, 77, 71, .2) ;
}

.zoomB{
	height : 50% ;
	width : 100% ;
	background-color : #f9f9f9 ;
	text-align : center ;
	cursor : pointer ;
}

#layers{
	position : absolute ;
	top : 2% ;
	right : 1.5% ;
	z-index : 100 ;
	width : auto ;
	height : 7% ;
	cursor : pointer ;
}

#layers2{
	position : absolute ;
	background-color : #f9f9f9  ;
	padding-top : 5% ;
	top : 2% ;
	right : 1.5% ;
	font-size : 0.8em ;
	z-index : 100 ;
	width : 18% ;
	height : auto ;
	display : none ;
}

#reduce{
	position : relative ;
	width : 15% ;
	height : auto ;
	float : right ;
	margin-right : 0 ;
	margin-top : -27% ;
}

.checkbox {
	width: 90% ;
	margin-left : 5% ;
	margin-bottom : 10% ;
}

input[type="checkbox"] {
	display : none ;
}

input[type="checkbox"] + label::before{
    content:"";
    display:inline-block;
    width:1em;
    height:1em;
    background:none;
	border : 1px solid grey ;
    border-radius:0;
	margin-right : 10% ;
	margin-left : 5% ;
}

input[type="checkbox"]:checked + label::before{
    content: '✔';
	padding-left : 1% ;
	padding-bottom : 2% ;
	background:none;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
	height : 100% ;
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}

.secteurs{
	display : block ;
	margin : auto ;
	fill: #ddd;
}

.bubble {
  fill-opacity: .75;
  stroke: #fff;
}

/*#legende{
	background-color : #f9f9f9 ;
	position : absolute ;
	z-index : 100 ;
	bottom : 2% ;
	left : 2% ;
	display : none ;
}*/

.legendbloc{
	fill : #f9f9f9 ;
}

.legendbloc2{
	fill : #f9f9f9 ;
}

.lgchoro, .lgprop, .lgflow{
	font-size : .9em ;
}

/*.notabene{
	font-size : .9em ;
	line-height:
}*/

#echelle{
	bottom: 15%;
	right: 10%;
	position: absolute;
}

#copyright{
	bottom : 4.5% ;
	right : 1.5% ;
	font-size: 0.75vw;
	line-height : 0.75vw ;
	position : absolute ;
	z-index : 101 ;
	background-color : rgba(255, 255, 255, 0.8) ;
}

#source{
	bottom : 2% ;
	right : 1.5% ;
	font-size: 0.75vw ;
	line-height : 0.75vw ;
	position : absolute ;
	z-index : 101 ;
	background-color : rgba(255, 255, 255, 0.8)
}


#graphiques{
	width : 27.5% ;
	height : 28.2% ;
	position : relative ;
	float : left ;
	top : -5.3% ;
	margin-left : 1% ;
}

#message{
	font-size : 2vh ;
	text-align : center ;
	font-style : italic ;
}

#mainGr1Cont{
	height : 17.5% ;
	width : 97% ;
	font-size : 1.8vh ;
	line-height : 3.6vh ;
	color : #514d47 ;
	font-family : JBold ;
	float : left ;
	padding-left : 1% ;
}

#mainGr2Cont{
	height : 17.3% ;
	width : 97% ;
	font-size : 1.8vh ;
	line-height : 1.8vh	;
	font-family : JBold ;
	color : #514d47 ;
	padding-left : 1% ;
	padding-top : 1.5% ;
	margin-top : 0 ;
	float : left ;
}

#nameSect{
	font-family : JLT  ;
	font-size : 1.2vh ;
}

#titleGr1Cont, #titleGr2Cont{
	height : 12% ;
	width : 98% ;
	text-align : center ;
	background-color : white ;
	border-top : 2px solid #c0bdb8 ;
	float : left ;
	margin-top : 0 ;
	white-space : nowrap ;
}

#bloc1, #bloc2{
	width : 58% ;
	height : 10% ;
	border-top : 1px solid #dadad9 ;
	float : left ;
	right : 0 ;
	top : -20% ;
	background-color : white ;
}

.altGr1, .altGr2{
	width : 20% ;
	height : 10% ;
	background-color : white ;
	border-top : 1px solid #c0bdb8 ;
	text-align : center ;
	float : left ;
	font-size : 1.5vh ;
	line-height : 3vh ;
}

.altGr1:hover, .altGr2:hover{
	cursor : pointer ;
}

#grIDF {
	width : 98% ;
	height : 100% ;
	font-size : 0.5em ;
	background-color : white ;
	float : left ;
}

#grSect {
	width : 98% ;
	height : 100% ;
	clear : both ;
	font-size : 0.5em ;
	background-color : white ;
	float : left ;
}

#exp{
	float : right ;
	height : 6% ;
	margin-right : 4% ;
	margin-top : -5% ;
	cursor : pointer ;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1px;
}

.tick line{
opacity: 0.2;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.dots{
	fill : #EFEBE5 ;
	stroke-width :1.5px ;
}

.info{
	pointer-events : none ;
	position : absolute ;
	font-size : 0.8vw ;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
}

#close{
	width : 4% ;
	margin-left  : 8% ;
	margin-bottom  : 4% ;
	margin-top : 1% ;
	height : auto ;
	float : right ;
	cursor : pointer ;
}

#popup{
	height : auto ;
	width : 40% ;
	margin-left : 28.5% ;
	margin-top : 10% ;
	position : absolute ;
	z-index : 151 ;
	background-color : white ;
	border : 10px solid rgba(0, 0, 0, .7);
	padding-top : 1% ;
	padding : 1% ;
	border-radius : 5px ;
	text-align : justify ;
	display : none ;
}

.highlight{
	background-color : rgba(171, 15, 49, .2) ;
}

a:hover{
	font-weight : bold ;
}


@media only screen and (max-width: 1024px){
	#menu{
		width : 98% ;
		height: auto;
	}
	#play {
    	width: 4%;
    	height: auto;
    	margin-top: 1%;
    }

	#timeline {
    	width: 70%;
    	margin-left: 4%;
	}

	#hour {
	    width: 14%;
	    font-size: 1.6em;
	    margin-right: 2.5%;
	}
	#mapTitleCont {
	    height: 5%;
	    width: 72%;
	}

	#map-container {
    	width: 72%;
    }
    #graphiques {
    	width: 25%;
    	top: -4.5%;
    	height: 25%;
    }

    #timeAxis {
    	font-size: 0.8em;
    	margin-top: 3px;
    }
}

@media only screen and (max-width: 767px){
	#menu{
		width : 98% ;
		height: auto;
	}
	#play {
    	width: 7%;
    	height: auto;
    	margin-top: 1%;
    }

	#timeline {
    	width: 70%;
    	margin-left: 4%;
	}

	#hour {
	    width: 14%;
	    font-size: 1.6em;
	    margin-right: 2.5%;
	}
	#mapTitleCont {
	    height: 5%;
	    width: 98%;
	}

	#map-container {
    	width: 98%;
    }
    #graphiques {
    	width: 98%;
    	top: 2%;
    	height: 50%;
    }

    #timeAxis {
    	font-size: 0.8em;
    	margin-top: 3px;
    }

}
